<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
 
</head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container mt-4">

        <div class="form-group">
            <a class="btn btn-success btn-sm" th:href="@{/libro/form}">Crear libro</a>
        </div>
        <form class="form-inline mb-4" th:action="@{/buscar}" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="nombreBusqueda" name="nombreBusqueda"
                    placeholder="Buscar por nombre">
            </div>
          
        </form>


    <div class="container mt-4">
        <h1 class="text-danger container text-center" th:text="${titulo}"></h1>
    </div>
    <table class="table border border-secundary table-hover container text-center" id="librosTable">
        <thead>
            <tr class="table-primary">
                <th>isbn</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Año</th>
                <th>Stock</th>
                <th>precio</th>
                <th>Editorial</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="container text-center" th:each="libro: ${libros}">
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td th:text="${libro.anio}"></td>
                <td th:text="${libro.stock}"></td>
                <td th:text="${libro.precio}"></td>
                <td th:text="${libro.edito}"></td>
                <td><a class="btn btn-warning btn-sm" th:href="@{/libro/ver/__${libro.id}__}" th:text="'ver'"></a>
                </td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/libro/form/__${libro.id}__}"
                        th:text="'Editar'"></a></td>
                <td><a class="btn btn-danger btn-sm" th:href="@{/libro/eliminar/} + ${libro.id}"
                        th:text="'eliminar'" onclick="return confirm ('Estas seguro que quieres Eliminar');"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>

    <footer th:replace="layout/layout :: footer"></footer>

 <!-- Agrega jQuery y jQuery UI Autocomplete -->
    <script>
        $(document).ready(function () {
            $('#nombreBusqueda').on('input', function () {
                var searchTerm = $(this).val();
                if (searchTerm.length > 2) {
                    cargarLibros(searchTerm);
                }
            });

            function cargarLibros(term) {
                $.ajax({
                    url: '/libro/cargar-libros/' + term,
                    type: 'GET',
                    success: function (data) {
                        var librosHtml = '';
                        $.each(data, function (index, libro) {
                            librosHtml += '<tr class="container text-center">';
                            librosHtml += '<td>' + libro.isbn + '</td>';
                            librosHtml += '<td>' + libro.titulo + '</td>';
                            librosHtml += '<td>' + libro.autor + '</td>';
                            librosHtml += '<td>' + libro.anio + '</td>';
                            librosHtml += '<td>' + libro.stock + '</td>';
                            librosHtml += '<td>' + libro.precio + '</td>';
                            librosHtml += '<td>' + libro.edito + '</td>';
                            librosHtml += '<td><a class="btn btn-warning btn-sm" href="/libro/ver/' + libro.id + '">ver</a></td>';
                            librosHtml += '<td><a class="btn btn-primary btn-sm" href="/libro/form/' + libro.id + '">Editar</a></td>';
                            librosHtml += '<td><a class="btn btn-danger btn-sm" href="/libro/eliminar/' + libro.id + '" onclick="return confirm (\'Estas seguro que quieres Eliminar\');">eliminar</a></td>';
                            librosHtml += '</tr>';
                        });
                        $('#librosTable tbody').html(librosHtml);
                    }
                });
            }
        });
    </script>

</body>

</html>