<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4 small">

		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>


			<h4 class="card-title mx-2 my-2 "> <a class="btn btn-success btn-sm"
					th:href="@{/factura/form/} + ${cliente.id}" th:text="'Facturar'"></a></h4>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="font-italic">
						<label class="font-weight-bold text-dark bg-warning px-2 rounded">ID: </label>
						<span class="ml-2" th:text="${cliente.id}"></span>
					</div>
				</li>

				<li class="list-group-item">
					<div class="font-italic">
						<label class="font-weight-bold text-dark bg-warning px-2 rounded">DNI: </label>
						<span class="ml-2" th:text="${cliente.dni}"></span>
					</div>


				</li>
				<li class="list-group-item">
					<div class="font-italic">
						<label class="font-weight-bold text-dark bg-warning px-2 rounded">Dirección: </label>
						<span class="ml-2" th:text="${cliente.direccion}"></span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="font-italic">
						<label class="font-weight-bold text-dark bg-warning px-2 rounded">Email: </label>
						<span class="ml-2" th:text="${cliente.email}"></span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="font-italic">
						<label class="font-weight-bold text-dark bg-warning px-2 rounded">Telefono: </label>
						<span class="ml-2" th:text="${cliente.tel}"></span>
					</div>
				</li>

				<li class="list-group-item">

					<td><a class="btn btn-primary btn-ms" th:href="@{/cliente/form/} + ${cliente.id}"
							th:text="'Editar'"></a>
					</td>
					<td><a class="btn btn-danger btn-ms" th:href="@{/cliente/eliminar/} + ${cliente.id}"
							th:text="'eliminar'" onclick="return confirm ('Estas seguro que quieres Eliminar');"></a>
					</td>
				</li>
			</ul>

			<div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4"
				th:text="'No hay facturas par mostrar del cliente: ' + ${cliente.nombre} + '  ' + ${cliente.apellido}">
			</div>

			<div class="table-responsive">
				<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>Folio</th>
							<th>Descripción</th>
							<th>fecha</th>
							<th>total</th>
							<th>ver</th>
							<th>Eliminar</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.descripcion}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.total}"></td>
							<td><a class="btn btn-primary btn-sm" th:href="@{'/factura/ver/' + ${factura.id}}"
									th:text="'detalle'"></a></td>
							<td><a class="btn btn-danger btn-sm" th:href="@{'/factura/eliminar/' + ${factura.id}}"
									th:text="'eliminar'"
									onclick="return confirm('¿Estás seguro de que deseas eliminar la factura?');">Eliminar</a>
							</td>


						</tr>

					</tbody>

				</table>
			</div>

		</div>
	</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>