<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card bg-light">
					<div class="card-header active" th:text="${titulo}"></div>
					
					<div class="row">
						<div class="col-md-4 text-center">
							<!-- Si el campo 'foto' no es nulo y tiene contenido, mostrar la imagen cargada -->
							<img th:if="${empleado.foto != null and empleado.foto.length() > 0}"
								class="img-thumbnail rounded float-left" style="max-width: 100%;"
								th:src="@{'/uploads/' + ${empleado.foto}}" th:alt="${empleado.foto}" />

							<!-- Si el campo 'foto' es nulo o está vacío, mostrar la imagen por defecto -->
							<div class="d-flex justify-content-center align-items-center mt-5">
								<img th:unless="${empleado.foto != null and empleado.foto.length() > 0}"
									th:src="@{/images/imageup.png}" alt="Agregar imagen" class="img-thumbnail rounded"
									style="max-width: 100%;" />
							</div>
						</div>
						
						<div class="col-md-8">
							<ul class="list-group">

								<li class="list-group-item">
									<div class="font-italic">
										<label
											class="font-weight-bold text-dark bg-warning px-1 rounded small">Nacimiento:
										</label>
										<span class="ml-1 small" th:text="${empleado.fechaNac}"></span>
									</div>
								</li>

								<li class="list-group-item">
									<div class="font-italic">
										<label
											class="font-weight-bold text-dark bg-warning px-1 rounded small">Dirección:
										</label>
										<span class="ml-1 small" th:text="${empleado.direccion}"></span>
									</div>
								</li>

								<li class="list-group-item">
									<div class="font-italic">
										<label class="font-weight-bold text-dark bg-warning px-1 rounded small">Tel:
										</label>
										<span class="ml-1 small" th:text="${empleado.tel}"></span>
									</div>
								</li>

								<li class="list-group-item">
									<div class="font-italic">
										<label class="font-weight-bold text-dark bg-warning px-1 rounded small">Email:
										</label>
										<span class="ml-1 small" th:text="${empleado.email}"></span>
									</div>
								</li>

								<li class="list-group-item">
									<div class="font-italic">
										<label class="font-weight-bold text-dark bg-warning px-1 rounded small">Cargo:
										</label>
										<span class="ml-1 small" th:text="${empleado.cargo}"></span>
									</div>
								</li>

								<li class="list-group-item">

									<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary bts-ms" th:href="@{/empleado/form/} + ${empleado.id}"
											th:text="'Editar'"></a>
									</td>
									<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger bts-ms"
											th:href="@{empleado/eliminar/} + ${empleado.id}" th:text="'eliminar'"
											onclick="return confirm ('Estas seguro que quieres Eliminar');"></a>
									</td>
								</li>
							</ul>
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>